#discover {
  padding: 24px;
  margin-bottom: 40px;
}

#discover img {
  width: 100%;
  height: 660px;
  object-fit: cover;
  margin-top: 40px;
  margin-bottom: 24px;
}

#discover p h1 {
  gap: 8px;
}

#more-info {
  padding: 24px;
  margin-top: 64px;
  margin-bottom: 65px;
}

#more-info img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-top: 64px;
  margin-bottom: 20px;
}

#more-info h3 {
  margin-bottom: 4px;
}

#more-info ul {
  padding-left: 24px;
}

#more-info hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#page > hr {
  margin: 0 24px;
}

footer {
  padding: 24px;
  background-color: var(--background-default);
}

footer article {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
